asgiref==3.3.1
dj-database-url==0.5.0
Django==3.1.4
django-heroku==0.3.1
gunicorn==20.0.4
pafy==0.5.4
psycopg2==2.8.6
python-decouple==3.3
pytube==10.0.0
pytz==2020.5
sqlparse==0.4.1
typing-extensions==3.7.4.3
whitenoise==5.2.0
youtube-dl==2018.11.7
